:8088 {
	reverse_proxy https://openrouter.ai {
		header_up Host openrouter.ai
		header_up HTTP-Referer "https://hermes-agent.nousresearch.com"
	}
}

:8086 {
	handle /v1/* {
		reverse_proxy http://freebuff-inject:8093
	}
}

:8085 {
	handle /v1/* {
		reverse_proxy http://codebuddy-inject:8094
	}
}

:8087 {
	reverse_proxy https://xqapi.com {
		header_up Host xqapi.com
		header_up X-XQAPI-Route "route-405"
		header_up X-XQAPI-Failover "false"
	}
}
